<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<!--
			<class name="AlterShop.Runner.SearchRunner"/>
			<class name="AlterShop.Runner.AssetsRunner"/>
			<class name="AlterShop.Runner.ProfileRunner"/>
			-->
			
			<class name="AlterShop.Runner.SearchRunner"/>
			<class name="AlterShop.Runner.AssetsRunner"/>
			<class name="AlterShop.Runner.ProfileRunner"/>



		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
